<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special-Giggle</title>
    <link rel="stylesheet" href="/public/style.css">

</head>

<body>
    <div id="navebar">
        <ul>
            <li class="navlist">Home</li>
            <li class="navlist">Content</li>
            <li class="navlist">Contact</li>
            <li class="navlist">FAQs</li>
            <li class="navlist">Services</li>
        </ul>
    </div>
    <br>
    <br><br>
    <div>
        <center><img src="/public/Aviskar.jfif" alt=""></center>
    </div>
    <br>
    <br><br>
    <div id="complaint_box">
        <h1 id="complain"><u>
                <center><b>COMPLAINT BOX</b></center>
            </u></h1>
        <br><br><br>
        <br>
        <!-- make Post  request to login -->
        <form action="/login" method="POST">
            <div id="complain-form">
                <label for="text">COMPLAINT</label>
                <center> <input type="text" class="form-control" name="complain" placeholder="complain" size="20">
                </center>
                <center><button type="submit">Submit</button></center>
            </div>
        </form>
        <br><br>
        <center>
            <h4> <a href="/">Log Out</a></h4>
        </center>
        <br><br>
    </div>


</body>

</html>