<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special-Giggle</title>
    <link rel="stylesheet" href="/public/style.css">

</head>

<body>
    <div id="navebar">
        <ul>
            <li class="navlist">Home</li>
            <li class="navlist">Content</li>
            <li class="navlist">Contact</li>
            <li class="navlist">FAQs</li>
            <li class="navlist">Services</li>
        </ul>
    </div>
    <br>
    <br><br>
    <div>
        <center><img src="/public/Aviskar.jfif" alt=""></center>
    </div>
    <br>
    <br><br>
    
    <h1><b>This is Homepage</b></h1>

</body>

</html>