<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special-Giggle</title>
    <link rel="stylesheet" href="/public/style.css">

</head>

<body>
    <div id="navebar">
        <ul>
            <li class="navlist">Home</li>
            <li class="navlist">Content</li>
            <li class="navlist">Contact</li>
            <li class="navlist">FAQs</li>
            <li class="navlist">Services</li>
        </ul>
    </div>
    <br>
    <br><br>
    <div>
        <center><img src="/public/Aviskar.jfif" alt=""></center>
    </div>
    <br>
    <br><br>
    <div id="complaint_box">
        <h1 id="complain"><u>
                <center><b>COMPLAINT BOX</b></center>
            </u></h1>
        <br><br><br>
        <h2>
            <center>Register</center>
        </h2>
        <br>
        <!-- make Post  request to login -->
        <div id="form">
            <!-- <form action="/register" method="POST"> -->
                <form action="" id="reg-form"></form>
                <label for="text">Name</label>
                <center><input type="email" class="form-control" name="ame" placeholder="Name" size="20">
                </center>
                <label for="email">Email</label>
                <center><input type="email" class="form-control" name="username" placeholder="username" size="20">
                </center>
                <label for="password">Set Password</label>
                <center> <input type="password" class="form-control" name="password" placeholder="Set password" size="20">
                </center>
                <label for="password">Confirm Password</label>
                <center> <input type="password" class="form-control" name="password" placeholder="Confirm password" size="20">
                </center>
                <center><button type="submit">Register</button></center>
            </form>
            <!-- <script>
                const form = document.getElementById('reg-form')
                form.addEventListener('submit',registerUser)
            </script> -->

        </div>
        <br><br>
        <br><br>
    </div>


</body>

</html>