<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special-Giggle</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <br>
    <br><br>
    <div>
        <center><img src="/public/Aviskar.jfif" alt=""></center>
    </div>
    <br>
    <br><br>
    <div id="complaint_box">
        <h1 id="complain"><u>
                <center><b>COMPLAINT BOX</b></center>
            </u></h1>
        <br><br><br>
        <h2>
            <center>Register</center>
        </h2>
        <br>
        <!-- make Post  request to register -->

        <div id="form">
            <!-- <form action="/register" method="POST"> -->
                <!-- <form action="" id="reg-form"></form> -->
                <!-- <label for="text">Name</label> -->
                <!-- <center><input type="name" class="form-control" name="name" placeholder="Name" size="20">
                </center> -->
                <!-- <center>
                    <div class="col-md-4"> -->
                        <!-- <label for="validationServerUsername" class="form-label">Username</label> -->
                        <!-- <div class="input-group has-validation">
                            <input type="text" class="form-control is-invalid" id="validationServerUsername"
                                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required
                                name="name" placeholder="Name" size="20">
                        </div>
                    </div>
                </center>
                <label for="email">Email</label>
                <center>
                    <div class="col-md-4">
                        <div class="input-group has-validation">
                            <input type="email" class="form-control is-invalid" id="validationServerUsername"
                                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required
                                name="username" placeholder="username" size="20">
                        </div>
                    </div>
                </center>
                <label for="password">Set Password</label> -->
                <!-- <center> <input type="password" class="form-control" name="password" placeholder="Set password"
                        size="20">
                </center> -->
                <!-- <center>
                    <div class="col-md-4">
                        <div class="input-group has-validation">
                            <input type="password" class="form-control is-invalid" id="validationServerUsername"
                                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required
                                name="password" placeholder="password" size="20">
                        </div>
                    </div>
                </center> -->
                <!-- <label for="Confirmpassword">Confirm Password</label> -->
                <!-- <center> <input type="password" class="form-control" name="password2" placeholder="Confirm password"
                        size="20">
                </center> -->
                <!-- <center>
                    <div class="col-md-4">
                        <div class="input-group has-validation">
                            <input type="password" class="form-control is-invalid" id="validationServerUsername"
                                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required
                                name="password2" placeholder="Confirm password" size="20">
                        </div>
                    </div>
                </center>
                <center><button type="submit">Register</button></center>

            </form> -->
            <form action="/register" method="post" enctype="multipart/form-data">
                <label for="text">Name</label>
                <input type="text" name="name" placeholder="Enter name" required>
                <br><br>
                <label for="text">Email</label>
                <input type="text" name="email" placeholder="username" required>
                <br><br>
                <label for="text">Mobile No.</label>
                <input type="number" name="mbno" placeholder="mobile no.." required>
                <br><br>
                <label for="text">Profile pic</label>
                <input type="file" name="image" required>
                <br><br>
                <label for="text">Password</label>
                <input type="password" name="password" placeholder="password" required>
                <br><br>
                <label for="text">Confirm Password</label>
                <input type="password" name="password2" placeholder="confirm password" required>
                <br><br>
                <input type="submit" value="Register" >
                <br><br>
            </form>
        </div>
        <br><br>
        <br><br>
    </div>

</body>
</html>