*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to right,rgb(0, 255, 119), rgb(223, 195, 55));
}
#navebar{
    background-color: rgb(14, 20, 130);
    color: white;
    position: fixed;
    width: 100%;
}

#navebar ul{
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.navlist{
    padding-left: 10px;
    list-style: none;
}

#complain{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

#complaint_box{
    background: linear-gradient(to right, red,blue);
    width: 500px;
    /* margin-left: 35%; */
    margin: auto;
    border-radius: 20px;
    color: aliceblue;
}


#complaint_box input{
    width: 280px;
    height: 20px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#complaint_box button{
    width: 100px;
    height: 25px;
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 6px;
    cursor: pointer;

}
#complaint_box h4 a{
    color: greenyellow;
}
#form label{
    margin-left: 20%;
}
#complain-form label{
    margin-left: 20%;
}

#complain-form input{
    width: 280px;
    height: 300px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.2rem;
    /* margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 5px; */
    word-wrap: break-word;
    overflow: hidden;
}
img{
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 100px;
}